.signin.flex {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.signin.flex h3 {
  font-size: 1rem;
}

.signin.flex input {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1rem;
  border: 1px solid #0074d9;
  border-radius: 5px;
  width: 340px;
  display: block;
  box-sizing: border-box;
  padding: 16px;
  margin: 12px 0 12px 0;
}

.signin.flex button {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1rem;
  background-color: rgb(127, 219, 255);
  color: #0074d9;
  padding: 12px 30px;
  margin: 12px 0 24px 0;
  text-align: center;
  text-decoration: none;
  border: 1px solid #0074d9;
  cursor: pointer;
  border-radius: 5px;
  width: 340px;
  display: block;
  opacity: 0.9;
}

.signin.flex hr {
  height: 1px;
  background-color: #0074d9;
  border: none;
  margin-bottom: 22px;
}

@media only screen and (min-width: 480px) {
  .signin.flex h3 {
    font-size: 1.2rem;
  }
}
